.Loader {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;

  background-color: #fafafa;
}

.Loader__Phrase {
  font-size: 2em;
  margin-top: 2em;

  font-weight: 900;
}
